
* {
    box-sizing: border-box;
  }
/* Mains */

a{text-decoration: none;}
body {font-family: Arial, Helvetica, sans-serif;}

/* END */

/* Adding Button Hovers Actives Etc. */

button:hover{opacity: 0.8;}
  
.cancelbtn {width: auto;padding: 10px 18px;background-color: #d41011;}
  
.imgcontainer {text-align: center;margin: 24px 0 12px 0;}
  
.container {padding: 16px;}
  
span.psw {padding-top: 0px;}

/* END */





#divided_div_logo_id 
{
    padding-left: 10%;
}


.div_main_class
{
    float: left;
    width: 50%;
    height: 300px;
    padding-left: 120px;
    padding-right: 0px;
    padding-top: 10%;
}


#span_logo_class
{
    padding-left: 100%;
}


#span_logo_samu_part
{
	text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff;
	animation: animate1 4s linear infinite;
    font-size: 180%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(73, 73, 73);padding-left: 6%;
}


#span_logo_daay_part
{
	text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff;
	animation: animate2 4s linear infinite;
    font-size: 180%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #d41011;
}


#samudaay_intro_line_para
{
    padding-left: 5%;padding-bottom: 10%;font-family: Arial, Helvetica, sans-serif;font-weight: 600;font-variant: small-caps;
}


#divided_div_Login_form_id 
{
    padding-right: 17%;
}


#form_for_login
{
    border: 1px solid #ffffff;padding-left: 0%;
}


#div_login_form_inset
{
    padding-right: 0%;background-color: #f5f5f5;box-shadow: 10px 10px 10px grey, 0 0 10px rgb(7, 7, 7);border-radius: 5px;background: rgb(255, 255, 255);
}


.container 
{
    padding: 16px;
}


.input_class_login_form {
  width: 150%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 5px;
  border: 1.5px solid #ccc;
  box-sizing: border-box;
}


#button_login_submit
{
    background-color: #d41011;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150%;
}


#forgot_password_line
{
    padding-left: 45%;
}


#button_create_account
{
    background-color: #42b72a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 144%;
}


#divided_div_footer
{
    background-color: #ffffff;padding-top: 48%;
}


#div_footer_start
{
    background-color: rgb(240, 240, 240);font-family: cursive ;font-size: 11px;width: auto;padding-bottom: 2%;padding-top: 1%;
}

/* div_footer_start hover active links for anchor tag */
#div_footer_start a 
{
    color: rgb(77, 77, 77);
    text-decoration: none
}

#div_footer_start a:visited 
{
    color: rgb(77, 77, 77);
}

#div_footer_start a:hover 
{
    color: rgb(90, 90, 90);
    text-decoration: underline
}
/* END */


/* Undefined tag */
span {
	text-align: center;
	color: #ffffff;
	/* font-size: 60px; */
	margin: 0;
	text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255);
	animation: animate 8s linear infinite;
}  
/* END */



/* Key Frames for animation of Samu and Daay Part in the logo making */
@keyframes animate1 {
	0% {
		color: #d41011;
	}
	50% {
		color: rgb(70, 67, 67);
	}
	100% {
		color: #d41011;
	}
}
@keyframes animate2 {
	0% {
		color: rgb(70, 67, 67);
	}
	50% {
		color: #d41011;
	}
	100% {
		color: rgb(70, 67, 67);
	}
}
/* END */



/* SamuDaay Signup form css included */

.dividing_signup_form 
{
	float: left;
	width: 33.33%;
	height: 500px;
	padding-left: 10px;
	padding-right: 10px;
}



#dividing_id_signup
{  
	border: 2px solid gray;height: 240%;box-shadow: 0px 0px 0px grey, 0px 0px 5px rgb(7, 7, 7);
	border-radius: 20px;background: white;
}


#create_new_head
{
	font-size: 10%;
}



.first_sur_name_txt_box
{border-radius: 5px;
border: 1.5px solid #ccc;
box-sizing: border-box;  margin: 8px 0;
display: inline-block;  padding: 12px 0px;    width: 49%;padding-left: 3%;
}


.drop_down_box
{
	border-radius: 5px;
border: 1.5px solid #ccc;
box-sizing: border-box;  margin: 8px 0;
display: inline-block;  padding: 12px 0px;    width: 32%;padding-left: 3%;
}


.phone_pass_box
{
width: 89%;
padding: 6px 10px;
margin: 5px 0;
display: inline-block;
border-radius: 1px;
border: 1.5px solid #dbd7d3;
box-sizing: border-box;
}


.span_class_signup
{
	border-width: 2px;
}


.gender_radio_boxes 
{border-radius: 5px;
border: 1.5px solid #ccc;
box-sizing: border-box;  margin: 8px 0;
display: inline-block;  padding: 12px 0px;    width: 32%;padding-left: 3%;font-size: 13px;
}


#signip_button_include
{background-color: #42b72a;
color: white;
padding: 6px 20px;
margin: 8px 0;
border: none;
border-radius: 5px;
cursor: pointer;
width: 89%;
}



/* heading for the signup form samudaay */
#samu_part_heading
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(73, 73, 73);
}


#daay_part_heading
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: #d41011;
}


tt1 
{
	text-align: center;
	color: #000000;
	font-size: 60px;
	margin: 0;
	text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255);
	animation: animate 8s linear infinite;
}


#samu_part_heading 
{
	text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff;
	animation: animate1 4s linear infinite;
}


#daay_part_heading 
{
	text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff;
	animation: animate2 4s linear infinite;
}


@keyframes animate1 {
	0% {
		color: #d41011;
	}
	50% {
		color: rgb(70, 67, 67);
	}
	100% {
		color: #d41011;
	}
}


@keyframes animate2 {
	0% {
		color: rgb(70, 67, 67);
	}
	50% {
		color: #d41011;
	}
	100% {
		color: rgb(70, 67, 67);
	}
}
/* Mini login button  in signup */
#button_login_login
{
    background-color: #d41011;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150%;
	
}


@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

a, a:hover {
text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
margin: 0;
padding: 5px;
}

.socialbtns li {
list-style: none outside none;
display: inline-block;
}

.socialbtns .fa {
width: 30px;
height: 18px;
color: #000;
background-color: #FFF;
border: 1px solid #000;
padding-top: 6px;
border-radius: 25px;
-moz-border-radius: 26px;
-webkit-border-radius: 22px;
-o-border-radius: 22px;
}

.socialbtns .fa:hover {
color: #FFF;
background-color: #000;
border: 1px solid #000;
}

#mailit
{
width: 450px;
height: 300px;
background-color:rgb(0, 0, 0) ;
}

.pass_span
{
    padding-left: 10px;
}


.new_head
{
    padding-right: 105px;
    font-size:27px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

#foot_lang{
    font-family: courier;color: aqua;
}

#foot_lan{
    font-family: courier;
}
















